service vendor.fingerprintextension /vendor/bin/hw/vendor.xiaomi.hardware.fingerprintextension@1.0-service.xiaomi_sm6150
    interface vendor.xiaomi.hardware.fingerprintextension@1.0::IXiaomiFingerprint default
    class hal
    user system
    group system input uhid
